text{
        font-family:Helvetica, Arial, sans-serif;
        font-size:11px;
        pointer-events:none;
    }
    #chart{
        position:absolute;
        width:500px;
        height:500px;
        top:0;
        left:0;
    }
    #question{
        position: absolute;
        width:400px;
        height:500px;
        top:100px;
        left:820px;
    }
    #question h1{
        font-size: 50px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        padding: 0;
        margin: 0;
        top:50%;
        -webkit-transform:translate(0,-50%);
                transform:translate(0,-50%);
    }
	body {
	background-color: #F2F5FA;
	margin: 0;
	}
	.top-border {
  border-top: 5px solid #222E42;
	}
	.logo {
	position: absolute;
	top: 20px;
	right: 10px;
	}
	h1{
		text-align: center;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin-top: 40px;
		margin-left: 500px;
	}